
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewBagExample</title>
</head>
<body>
    <div>
        <h2>@ViewBag.MyName</h2>
        <br />
        <h2>
            @ViewData["Name"]
        </h2>
    </div>
</body>
</html>
